*~
\.\#*
\#*
/Berksfile.*
.bundle
.config
/coverage
/doc/
.DS_Store
/features/config.yml
*.gem
/Gemfile.lock
.kitchen/
.kitchen.local.yml
/pkg
*.rbc
rerun.txt
.rvmrc
/spec/knife.rb
/spec/*.pem
/spec/reports
*.sw[op]
*.tar*
*.tar.gz.kitchen/
tmp
.vagrant
vendor
_yardoc
.yardoc
